@media (max-width: 834px){ /*Resposive Tabletas o iPads*/
  .nav_options{
    position: unset;
    height: 8%;
    padding-left: 80px;
    font-size: 13px;
  }
  .main_section{
    height: 113%;
    padding-left: 5.5%;
    font-size: 25px;
  }
  .on_air{
      padding-left: 0px;
  }
  .concert{
    top: auto;
    height: 28%;
  }
  .products{
      height: 100%;
      padding: 4%;
      background-size: 185vh;
      
  }
  .image_fav{
      height: 10rem;
      background-size: 60%;
      padding: 40px;
  }

  .parrafo{
    width: 450px;
  }
  .descargar_app{
    height: 109%;
    padding-left: 1%;

  }
  .boton_app{
  height: 3rem;
  font-size: 27px;
  border-radius: 70px;
  padding: 3%;
  width: 31%;

  }
  h1{
   color: rgb(192, 77, 36);
  }
  .bible{
   padding-left: 100px;
  }
  .acerca{
   padding: 10px;
   height: 35vh;
  }

  .final{
   background-size: 131vh;
   height: 12rem;
   width: 100%;
  }
}

/*------------------Responsive Celulares-----------------------*/
@media (max-width: 430px){ 
  .nav_options{
    position: unset;
    height: 8%;
    padding-left: 80px;
    font-size: 13px;
  }

  .main_section{
    height: 67%;
  }
  .on_air{
      padding-left: 0px;
  }
  .concert{
    top: auto;
    height: 12.5%;
  }
  .products{
      text-align: left;
      height: 75%;
      padding: 4%;
      background-size: 185vh;
  }
  .image_fav{
      height: 10rem;
      background-size: 95%;
      padding: 15px;
      text-align: left;
  }
  .artistas_h2{
    font-size: 2.3rem;
    color: black;
  }
  .parrafo{
    width: 370px;
  }
  .descargar_app{
      height: 55%;
      font-size: small;
      background-size: 90vh;
      padding: 1%;
  }
  .boton_app{
    height: 2rem;
    font-size: 17px;
    border-radius: 70px;
    width: 36%;
    padding: 4%;

  }
  h1{
    color: rgb(192, 77, 36);
  }
  .bible{
    padding-left: 100px;
  }
  .acerca{
      height: 40vh;
      text-align: center;
      padding: 0 4rem;
  }

  .final{
   background-size: 62vh ;
   height: 5rem;
   width: 100%;
  }
}

